<div class= "container">
  <h1>Sign Up</h1>
  
  <%= form_for @user do |f| %>

    <div class="field">
      <div class="col-md-4">
      <%= f.text_field :email, :class => 'form-control', :placeholder => 'email'  %><br>
    </div>
  </div>
    <div class="field">
        <div class="col-md-4">
      <%= f.password_field :password, :class => 'form-control', :placeholder => 'password'%><br>
    </div>
  </div>
    <div class="field">
      <div class="col-md-4">
      <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'confirm password'  %><br>
    
    <div class="actions"><%= f.submit "Sign Up", :class => 'btn btn-primary' %></div>
    </div>
  </div>
<% end %>
</div>