<h1> Edit this Post! </h1>

<%#= raise @post.inspect %>
<%= form_for(@post, :url => {:action => :update, :controller => :posts}) do |f| %>
	<%=f.label :title %><br>
	<%=f.text_field :title, :class => 'form-control', :placeholder => 'title' %>
	<%=f.label :body %><br>
	<%=f.text_field :body, :class => 'form-control', :placeholder => '...' %><br>
	<%= f.submit "Save changes" %>
<% end %>


<%= link_to "Return to Our posts", post_path %>