<div class="row">


		
	</div>

		<table class="table table-bordered,">
			<thread>
				<tr>
					<th><h1>title<h1></th>
					<th><h1>content<h1></th>
						<%= link_to 'Search for comments', comment_search_path %>
				</tr>
			</thread>
			  	<%@posts.each do |post| %>
			<tr>
				<td class="jumbotron"><%=post.title %></td>
				<td class="jumbotron"><%=post.body %></td>	
				<td class="jumbotron"><%= link_to 'Comment', one_path(:post => post.id) %></td>
				<td class="jumbotron"><%= link_to 'update', edit_post_path(post) %></td>
				
                <td class="jumbotron"><%= link_to "Delete", delete_post_path(:post => post.id), method: :delete %></td>
			</tr>
			<% end %>
		</table>
	</div>
	
		
	</div>


</div>
<!--New link to create a new post-->
<%= link_to 'New Post', genesis_path %>	

	
