<div class= "container">

		<table class="table table-bordered,">
			<thead>
				<tr>

					<th><h1>title<h1></th>
					<th><h1>content<h1></th>
							
				</tr>
			</thead>
			  	<%@posts.each do |post| %>
			<tr class = "jumbotron">
				<td><%=post.title %></td>
				<td><%=post.body %></td>	
				<td><%= link_to 'Comment', one_path(:post => post.id), :class => "btn btn-default" %></td>
				<td><%= link_to 'update', edit_post_path(post),:class => "btn btn-default" %></td>
				
                <td><%= link_to "Delete", delete_post_path(:post => post.id), method: :delete, :class => "btn btn-default"  %></td>
			</tr>
			<% end %>
		</table>
	</div>
	

<!--New link to create a new post-->
<%= link_to 'New Post', genesis_path, :class => "btn btn-primary" %>

	

	
