<div class="row">

	<div class="col-md-4">
		
	</div>
	<div class="col-md-4">
		<table class="table table-bordered,">
			<thread>
				<tr>
					<th>title</th>
					<th>content</th>
				</tr>
			</thread>
			  	<%@posts.each do |post| %>
			<tr>
				<td class="form-control"><%=post.title %></td>
				<td><%=post.body %></td>	
				<td><%= link_to 'Comment', one_path(:post => post.id) %></td>
				<td><%= link_to 'update', edit_post_path(post) %></td>
				
                <td><%= link_to "Delete", delete_post_path(:post => post.id), method: :delete %></td>
			</tr>
			<% end %>
		</table>
	</div>
	
		
	</div>


</div>
<!--New link to create a new post-->
<%= link_to 'New Post', genesis_path %>	

	

<div class="col-md-4">